.df{
    display: flex;
}
.dfc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold{
    font-weight: 700;
    font-size: 20px;
}
.normal{
    font-weight: 400;
    font-size: 16px;
}
.cuisine-container{
    padding: 100px 80px;
    gap: 25px;
}

.item{
    gap: 20px;
    padding: 20px;
    
}

.social {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.5px solid rgb(165, 161, 161);
    cursor: pointer;
}
.dfjc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 25%;
    margin: 50px auto 20px auto;
    
    justify-content: space-between;
}